<h2>{{i18nManager("advancedTabHeader")}}</h2>
<p>{{i18nManager("advancedTabDescription")}}</p>
<div class="row">
    <form role="form" name="editor" ng-submit="onSubmit()">
        <div class="col-md-7">
            <fieldset class="tab" ng-repeat="tab in tabs" ng-class="{'removable': isRemovable($first, tabs.length) }">
                <div class="form-group">
                    <label for="url-{{tab.$$hashKey}}">{{i18nManager("tabUrl")}}</label>
                    <input class="form-control" id="url-{{tab.$$hashKey}}" type="url" name="url" title="{{i18nManager('validTabUrl')}}" value="{{tab.url}}" ng-model="tab.url" required>
                </div>
                <fieldset class="cron" ng-repeat="cron in tab.crons">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="expression-{{cron.$$hashKey}}">{{i18nManager("expressionType" + cron.type)}}<span ng-show="cron.description">{{cron.description}}</span></label>
                            <input class="form-control" type="text" value="{{cron.expression}}" name="expression" title="{{i18nManager('expressionType' + cron.type)}}" id="expression-{{cron.$$hashKey}}" ng-model="cron.expression" ng-change="onCronExpressionChanged(cron)" required>
                        </div>
                        <div class="col-md-4">
                            <label for="operation-{{cron.$$hashKey}}">{{i18nManager("expressionAction")}}</label>
                            <select class="operation form-control" ng-model="cron.operation" ng-options="key as value for (key, value) in operations" id="operation-{{cron.$$hashKey}}"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-link remove remove-operation" ng-click="removeCron(tab, cron)" ng-show="isRemovable($first, tab.crons.length)">{{i18nManager("removeOperation")}}</button>
                </fieldset>
                <div class="buttons">
                    <button type="button" class="btn btn-default" ng-click="addCron(tab)"><span class="glyphicon glyphicon-plus" data-type="cron"></span> {{i18nManager("operationCronAdd")}}</button>
                    <button type="button" class="btn btn-default" ng-click="addTextExpression(tab)"><span class="glyphicon glyphicon-plus" data-type="text"></span>  {{i18nManager("operationTextAdd")}}</button>
                    <button type="button" class="btn btn-default remove remove-tab" ng-click="removeTab(tab)" ng-show="isRemovable($first, tabs.length)"><span class="glyphicon glyphicon-remove"></span> {{i18nManager("removeTab")}}</button>
                </div>
            </fieldset>
        </div>
        <div class="col-md-5 controls">
            <button type="button" class="btn btn-default add" ng-click="addTab()"><span class="glyphicon glyphicon-plus"></span> {{i18nManager("addTab")}}</button>
            <button type="submit" class="btn btn-primary" ng-disabled="!editor.$dirty"><span class="glyphicon glyphicon-ok"></span> {{i18nManager("save")}}</button>
        </div>
    </form>
</div>