<h2>{{header}}</h2>
<p>{{description}}</p>
<form class="aui" name="editor" ng-submit="onSubmit()">
    <fieldset class="tab" ng-repeat="tab in tabs">
        <div class="field-group">
            <label for="url-{{tab.$$hashKey}}">URL <span class="aui-icon icon-required"> required</span></label>
            <input class="text long-field url" id="url-{{tab.$$hashKey}}" type="text" name="url" value="{{tab.url}}" ng-model="tab.url">
        </div>
        <div class="field-group cron" ng-repeat="cron in tab.crons">
            <select class="operation select" style="margin-left: -125px" ng-model="cron.type" ng-options="type.id as type.name for type in types"></select>
            <input class="text long-field" type="text" value="{{cron.expression}}" name="expression" id="expression-{{cron.$$hashKey}}" ng-model="cron.expression">
            <select class="operation select" ng-model="cron.operation" ng-options="operation.id as operation.name for operation in operations"></select>
            <button type="button" class="aui-button aui-button-subtle remove" ng-click="removeCron(tab, cron)" ng-show="isRemovable($first, tab.crons.length)"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span></button>
        </div>
        <div class="buttons-container">
            <button type="button" class="aui-button aui-button-subtle" ng-click="addCron(tab)"><span class="aui-icon aui-icon-small aui-iconfont-add" data-type="cron"></span> Add Cron</button>
            <button type="button" class="aui-button aui-button-subtle" ng-click="addTextExpression(tab)"><span class="aui-icon aui-icon-small aui-iconfont-add" data-type="text"></span> Add Text Expression</button>
        </div>
        <div class="remove-button buttons-container" ng-show="isRemovable($first, tabs.length)">
            <button type="button" class="aui-button remove" ng-click="removeTab(tab)"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span> Remove Tab</button>
        </div>
    </fieldset>
    <div class="buttons-container">
        <div class="buttons">
            <button type="submit" class="aui-button aui-button-primary save" ng-disabled="!editor.$dirty"><span class="aui-icon aui-icon-small aui-iconfont-success"></span> Save</button>
            <button type="button" class="aui-button add" ng-click="addTab()"><span class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Tab</button>
        </div>
    </div>
</form>