<h2>{{i18nManager("timeManagementHeader")}}</h2>
<p>{{i18nManager("timeManagementDescription")}}</p>
<form role="form" name="editor" ng-submit="onSubmit()">
    <div class="row">
        <div class="col-md-7">
            <fieldset class="tab" ng-repeat="tab in compatibleTabs" ng-class="{'removable': isRemovable($first, compatibleTabs.length) }">
                <div class="form-group">
                    <label for="url-{{tab.$$hashKey}}">{{i18nManager("tabUrl")}}</label>
                    <input class="form-control" id="url-{{tab.$$hashKey}}" type="text" name="url" value="{{tab.url}}" ng-model="tab.url">
                </div>
                <div class="form-group">
                    <label for="open-{{tab.$$hashKey}}">{{i18nManager("timeManagementTabOpenAt")}}</label>
                    <input class="form-control" type="time" id="open-{{tab.$$hashKey}}" title="time to open tab" ng-model="tab.open">
                </div>
                <div class="form-group">
                    <label for="close-{{tab.$$hashKey}}">{{i18nManager("timeManagementTabCloseAt")}}</label>
                    <input class="form-control" type="time" id="close-{{tab.$$hashKey}}" title="time to close tab" ng-model="tab.close">
                </div>
                <label>{{i18nManager("timeManagementDaysOfWeek")}}</label>
                <div class="form-group">
                    <label class="checkbox-inline" ng-repeat="day in DaysOfWeek"><input class="checkbox" type="checkbox" name="{{day.id}}" id="{{day.id}}-{{tab.$$hashKey}}" checklist-model="tab.days" checklist-value="day.num">{{day.name}}</label>
                </div>
                <button type="button" class="btn btn-default remove remove-tab" ng-click="removeTab(tab)" ng-show="isRemovable($first, compatibleTabs.length)"><span class="glyphicon glyphicon-remove"></span> {{i18nManager("removeTab")}}</button>
            </fieldset>
            <p>
                <button type="submit" class="btn btn-primary save" ng-disabled="!editor.$dirty"><span class="glyphicon glyphicon-ok"></span> {{i18nManager("save")}}</button>
                <button type="button" class="btn btn-default add" ng-click="addTab()"><span class="glyphicon glyphicon-plus"></span> {{i18nManager("addTab")}}</button>
            </p>
        </div>
    </div>
</form>