<h2>{{header}}</h2>
<p>{{description}}</p>
<form class="aui" name="editor" ng-submit="onSubmit()">
    <fieldset class="tab" ng-repeat="tab in compatibleTabs">
        <div class="field-group">
            <label for="url-{{tab.$$hashKey}}">URL</label>
            <input class="text long-field url" id="url-{{tab.$$hashKey}}" type="text" name="url" value="{{tab.url}}" ng-model="tab.url">
        </div>
        <fieldset class="group">
            <legend><span>Day(s) of the week</span></legend>
            <div class="checkbox" ng-repeat="day in DaysOfWeek">
                <input class="checkbox" type="checkbox" name="{{day.id}}" id="{{day.id}}-{{tab.$$hashKey}}" checklist-model="tab.days" checklist-value="day.num">
                <label for="{{day.id}}-{{tab.$$hashKey}}">{{day.name}}</label>
            </div>
        </fieldset>
        <div class="field-group">
            <label for="open-{{tab.$$hashKey}}">Open at</label>
            <input class="text short-field" type="text" id="open-{{tab.$$hashKey}}" title="time to open tab" ng-model="tab.open">
            <div class="description">{{openDescription}}</div>
        </div>
        <div class="field-group">
            <label for="close-{{tab.$$hashKey}}">Close at</label>
            <input class="text short-field" type="text" id="close-{{tab.$$hashKey}}" title="time to close tab" ng-model="tab.close">
            <div class="description">{{closeDescription}}</div>
        </div>
        <div class="remove-button buttons-container" ng-show="isRemovable($first, compatibleTabs.length)">
            <button type="button" class="aui-button remove" ng-click="removeTab(tab)"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span> Remove Tab</button>
        </div>
    </fieldset>
    <div class="buttons-container">
        <div class="buttons">
            <button type="submit" class="aui-button aui-button-primary save" ng-disabled="!editor.$dirty"><span class="aui-icon aui-icon-small aui-iconfont-success"></span> Save</button>
            <button type="button" class="aui-button add" ng-click="addTab()"><span class="aui-icon aui-icon-small aui-iconfont-add"></span> Add Tab</button>
        </div>
    </div>
</form>