.crontabs-header {
	margin: 5px 0 0 0;
	padding: 10px;
}

.aui-header-primary h1 {
    margin: 6px 0;
}

#tabs .field-group .hidden {
    display: none
}

button.save a {
    color: #FFF
}

form.aui .select {
    width: 121px;
}

div.buttons {
    margin-top: 1em;
}

button.remove {
    clear: left;
}

button.remove span.aui-icon {
    color: #CC0000
}

form.aui fieldset {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
