button.remove span {
    color: #d04437
}

form fieldset.tab {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 0;
}

form fieldset:last-of-type {
    margin-bottom: 15px;
}

form fieldset.removable {
    padding-bottom: 15px;
}

.navbar-collapse p.enabledStatus {
    color: #d04437;
}

.navbar-collapse p.enabledStatus span {
    margin-right: 10px;
}

.navbar-collapse p.enabledStatus.enabled {
    color: #14892c;
}

h2.enabledStatus span {
    margin: 3px 5px;
}

button.remove-tab {
    float: right
}